*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
section{
    width: 80%;
    margin:20px auto;
}
input{
margin-bottom: 20px;
width: 100%;
height: 30px;
padding: 10px;
font-size: 20px;
outline: none;
border: none;
background-color: rgb(176, 239, 218);
border-radius: 10px;

}
input:hover{
    transform: scale(1.1);
    transition: 0.5s;
    background-color: aqua;
}
button{
    width: 100%;
    padding: 5px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
}

button:hover{
    transform: scale(1.1);
    transition: 0.5s;
    background-color: #111;
}
table{
    width: 100%;
    text-align: center;
    margin: 5px;
    padding: 5px;
}
@media(max-width : 600px){
    table{
        width: 60%;
        margin-left: -30px;
    }
}
thead th{
    font-size: 20px;
   background-color: blue;
   padding: 5px;
   border-radius: 10px;
   color: white;
}

tbody td{
    background-color: rgb(247, 231, 211);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
#delete{
background-color: rgb(236, 12, 12);
color: white;
cursor: pointer;
}
#update{
background-color: rgb(5, 189, 5);
color: white;
cursor: pointer;
}
#hero_section{
width: 50%;
background-color: azure;
height: 300px;
margin: auto;
}

#content{
    background-color: rgb(180, 215, 245);
    width: 90%;
    height: 60%;
    margin:20px auto;
    border-radius: 10px;
}
.icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
#btn{
    height: 50px;
}
.countainer{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.countainer input{
    background-color: rgb(2, 81, 77);
}
.countainer input::placeholder{
    color: rgb(238, 235, 235);
}
.countainer input:hover{
    background-color: rgb(4, 101, 96);
    cursor: pointer;
}
#delete_All{
    background-color: rgb(245, 7, 7);
}
